@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --background: #fdfdfd;
    --black: #080808;
    --white: #fffdf2;
    --blue: #2563af;

    --item-background: #fff;
    --item-border: hsl(0deg 0% 3.14% / 50%);
    --item-hover: #d6e0ef;
    --item-radius: 2rem;
    --shadow: 0 0 2.5rem rgb(0 0 0 / 10%);
    --shadow-hover: 0 0 4.5rem rgb(0 0 0 / 12%);
}

html {
    background: var(--background);
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html.dark {
    --background: #101010;
    --item-background: #14151a;
    --item-border: hsl(0, 0%, 100%);
    --item-hover: #f5f6fd;
    color-scheme: dark;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6em;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--blue);
    height: .1rem;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031;
}

.container {
    margin: 0 auto;
}

.content {
    width: 76rem;
}

.spacing {
    margin: 4rem 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

svg:not(:root) {
    overflow: hidden;
}

.wrapper {
    align-items: center;
    /* display: grid;
    place-items: center; */
    display: flex;
    height: 100vh;
    justify-content: center;
}

@media (max-width: 576px) {
    .wrapper {
        height: auto;
        margin-top: 10rem;
        padding: 0 1.5rem;
    }

    .content {
        width: 100%;
    }
}