@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
}

html.dark {
    background: black;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--blue);
    height: .1rem;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031;
}


/* custom */

:root {
    --black: #000;
    --white: #fffdf2;
    --blue: #2563af;
}

.container {
    margin: 0 auto;
}

.spacing {
    margin: 4rem 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

svg:not(:root) {
    overflow: hidden;
}

.wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translate(-50%, -50%);
}

.wrapper .item {
    display: none;
    visibility: hidden;
}

.wrapper h1 {
    color: var(--black, #000);
    font-size: 5.4rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.wrapper>.data-text {
    align-items: flex-end;
    color: var(--blue);
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .1rem;
    min-height: 2.1rem;
    text-transform: uppercase;
    user-select: none;
}

.wrapper>.data-text:after {
    animation-direction: alternate;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
    animation-name: fade;
    background: var(--black);
    color: var(--blue);
    content: "";
    display: block;
    height: .3rem;
    margin-bottom: .4rem;
    margin-left: .2rem;
    width: 1.2rem;
}

.wrapper .social {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.wrapper .social a.mail svg {
    margin-top: .3rem;
}

.wrapper .social a.linkedin svg {
    margin-top: .1rem;
}

.wrapper .social svg {
    height: auto;
    width: 3.5rem;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width: 576px) {
    .wrapper h1 {
        font-size: 4rem;
    }

    .wrapper>.data-text {
        font-size: 1.6rem;
    }

    .wrapper .social {
        width: 50%;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

html.dark .wrapper h1 {
    color: #fffdf2;
}

html.dark svg {
    fill: #fffdf2;
}

html.dark svg path {
    fill: #fffdf2;
}

html.dark .wrapper>.data-text:after {
    background: #fffdf2;
}