@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
    --background: #edf1F5;
    --button: #000;
    --button-color: #fff;
    --button-radius: 1rem;
    --card-background: #fff;
    --item-active: #02a9ff;
    --item-background: #edf1F5;
    --item-hover: #d6e0ef;
    --item-radius: .5rem;
    --shadow: 0 0 2.5rem rgb(0 0 0 / 10%);
}

html.dark {
    --background: #14181D;
    --button: #fff;
    --button-color: #000;
    --card-background: #20232D;
    --item-background: #20232D;
    --item-hover: #f5f6fd;
    color-scheme: dark;
}

body {
    font-family: 'Work Sans', sans-serif, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    letter-spacing: -.08rem;
    word-spacing: .1rem;
}

.wrapper {
    background: var(--card-background);
    border-radius: var(--item-radius);
    box-shadow: var(--shadow);
    box-sizing: border-box;
    margin: 60px auto;
    max-width: 100%;
    min-height: 400px;
    min-height: 30rem;
    padding: 60px 60px;
    padding: 1.75rem;
    position: relative;
    transition: all ease-in 0.25s;
    transition: box-shadow .6s ease;
    width: 600px;
}

h1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

.active {
    font-weight: bold;
}

.container {
    padding: 25px 15px;
}

.flex {
    display: flex;
}

.flex.between {
    justify-content: space-between;
}

.flex.column {
    flex-direction: column;
}

.flex.items-center {
    align-items: center;
}

.flex .half {
    flex: 50%;
}

.wins {
    color: green;
    font-weight: bold;
    margin-left: 10px;
}

.looses {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

svg {
    display: block;
    height: 25px;
    width: 25px;
}

.list-item {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.list-item svg {
    margin-left: 10px;
}

.add-deck {}

.arrow {
    margin-left: 10px;
}

.button,
a.button,
button,
[class*="button"],
[type=submit],
[type=reset],
[type=button] {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0.75rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transform: scale(var(--scale, 1)) translateZ(0);
    transition: background 0.2s linear, transform 0.2s, box-shadow 0.2s linear, color 0.2s linear;
    user-select: none;
    vertical-align: middle;
}

.button:active,
a.button:active,
button:active,
[class*="button"]:active,
[type=submit]:active,
[type=reset]:active,
[type=button]:active {
    --scale: .95;
}

.button:hover,
a.button:hover,
button:hover,
[class*="button"]:hover,
[type=submit]:hover,
[type=reset]:hover,
[type=button]:hover {}

@media only screen and (max-device-width: 1023px) {
    body {
        font-size: 14px;
    }

    .wrapper {
        border-radius: 0;
        margin: 0;
        min-height: 100vh;
        padding: 60px 0;
    }

    .container {
        padding: 20px 15px;
    }

    .list-item {
        padding: 0;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
    }

    .btn-container .btn {
        margin-bottom: 10px;
    }
}